.page-heading {
    font-family: 'Rock Salt', cursive;
}

.page-phrase {
    font-family: 'Raleway', sans-serif;
}

header.masthead {
    background: linear-gradient(0deg,#ff6a00 0,#ee8f8f 100%);
}

header.masthead .bg-circle {
    background: linear-gradient(0deg,#ee0979 0,#f3d650 100%);
}

.btn-primary {
    background-color: rgb(53, 53, 53);
    border-color: rgb(53, 53, 53);
}